
    <div class="container">
      <header class="header">
        <p class="logo">Mixtapes > Playlists</p>
      </header>
      <div class="cart">
        <ul class="cartHead">
          <li class="title">Title</li>
          <li class="artist">Artist</li>
          <li class="price">Price</li>
        </ul>
        <ul class="cartContent">
        <!-- <form type="text"> -->
          <li class="title"><input type="text"  runat="server" ng-model="titleInput"></input></li>
          <li class="artist"><input type="text" runat="server" ng-model="artistInput"></input></li>
          <li class="price"><input type="text" runat="server" ng-model="priceInput"></input></li>
        <!-- </form> -->
        </ul>
        <ul class="cartContent" ng-repeat="data in data">
        <!-- <form type="text"> -->
          <li class="title" ng-model="savedTitle">{{data.title}}</li>
          <li class="artist" ng-model="savedArtist">{{data.artist}}</li>
          <li class="price" ng-model="savedPrice">{{data.price}}</li>
        <!-- </form> -->
        </ul>
          <div class="add" ng-click="addFunc()">
            <p>Add</p>
          </div>

      </div>

    </div>
