
    <div class="container">
      <header class="header">
        <p class="logo">Mixtapes > Playlists</p>
      </header>
      <div class="cart">
        <ul class="cartHead">
          <li class="title">Title</li>
          <li class="artist">Artist</li>
          <li class="price">Price</li>
          <li class="quantity">Qt.</li>
          <li class="subTotal">Sub-total</li>
        </ul>
        <ul class="cartContent" ng-repeat="item in items">
          <li class="title">{{item.title}}</li>
          <li class="artist">{{item.artist}}</li>
          <li class="price" ng-model="item.price">{{item.price}}</li>
          <li class="quantity"><input class="qty" type="number" value=1 ng-model="item.qty"></input></li>
          <li class="subTotal">{{item.price * item.qty}}</li>
        </ul>
        <div class="checkout">
          <div class="total">
            <p>Total: {{total()| currency}}</p>
          </div>
          <div class="checkoutButton">

            <a href="#/receipt" ng-click="recieptFunc(tapeName)"><p>Checkout</p></a>
          </div>
        <div>

      </div>

    </div>
