
      <div class="container">
        <div class="header">
          <form id="searchBar">
            Search: <input type="text" name="searchBar">
            <input type="submit">
          </form>
          <h1>
            Mixtapes > Playlists</h1>
                  </div>
        <div class="sidebar">
          <div class="dropdown">
          <img src="../assets/imgs/multimedia.png">
          <nav>
         <ul id="top-ul">
             <li class="main"><a href="">Genres</a>

                 <ul class="sub">
                     <li><a href="#">Rock</a>
                     </li>
                     <li><a href="#">Pop</a>
                     </li>
                     <li><a href="#">Hip/Hop</a>
                     </li>
                     <li><a href="#">Country</a>
                     </li>
                     <li><a href="#">Electronic</a>
                     </li>
                     <li><a href="#">Country</a>
                     </li>
                 </ul>
             </li>
           </br>
         </br>
             <li class="main"><a href="">Curated Playlists</a>

                 <ul class="sub">
                     <li><a href="#">Mixes by Aaron</a>
                     </li>
                     <li><a href="#">Mixes by Travis</a>
                     </li>
                 </ul>
             </li>

         </ul>
     </nav>

        </div>
        </div>

          <div class="items">

              <!-- Row 1 -->
              <div ng-click="modalFunc(); setActive(album)" ng-repeat="album in albums">
                <ul class="hide">
                <li class="desc">{{album.artist}}</li>
                <li class="desc">{{album.title}}</li>
                <li class="desc">$1.29</li>
              </ul>
                <a href="#text">
                <img src="{{album.img}}">
              </a>
              <button ng-click="setActive(album); cartFunc()" id="{{album.id}}"><a>Add</a></button>
              </div>
              <!-- <div ng-click="modalFunc()">
                <ul class="hide">
                <li class="desc"></li>
                <li class="desc">"Never Gonna Give You Up"</li>
                <li class="desc">4:25</li>
              </ul>
                <a href="#text">
                <img src="../assets/imgs/stevensegal.jpg">
              </a>
                <button><a href="/#cart">BUY</a></button>
              </div>
              <div ng-click="modalFunc()">
                <ul class="hide">
                <li class="desc">Artist Name</li>
                <li class="desc">Title</li>
                <li class="desc">Artist Name</li>
              </ul>
                <a href="#text">
                <img src="../assets/imgs/joyce.jpg">
              </a>
              <button><a href="/#cart">BUY</a></button>
            </div>
              <div ng-click="modalFunc()">
                <ul class="hide">
                <li class="desc">Artist Name</li>
                <li class="desc">Title</li>
                <li class="desc">Artist Name</li>
              </ul>
                <a href="#text">
                <img src="../assets/imgs/kenny.jpg">
              </a>
              <button><a href="/#cart">BUY</a></button>
            </div>

              Row 2
              <div ng-click="modalFunc()">
                <ul class="hide">
                <li class="desc">Artist Name</li>
                <li class="desc">Title</li>
                <li class="desc">Artist Name</li>
              </ul>
                <a href="#text">
                <img src="../assets/imgs/gunther.jpg">
              </a>
              <button><a href="/#cart">BUY</a></button>
              </div>
              <div ng-click="modalFunc()">
                <ul class="hide">
                <li class="desc">Artist Name</li>
                <li class="desc">Title</li>
                <li class="desc">Artist Name</li>
              </ul>
                <a href="#text">
                <img src="../assets/imgs/djpaypal.jpg">
              </a>
              <button><a href="/#cart">BUY</a></button>
              </div>
              <div ng-click="modalFunc()">
                <ul class="hide">
                <li class="desc">Artist Name</li>
                <li class="desc">Title</li>
                <li class="desc">Artist Name</li>
              </ul>
                <a href="#text">
                <img src="../assets/imgs/leaflady.jpg">
              </a>
              <button><a href="/#cart">BUY</a></button>
              </div>
              <div ng-click="modalFunc()">
                <ul class="hide">
                <li class="desc">Artist Name</li>
                <li class="desc">Title</li>
                <li class="desc">Artist Name</li>
              </ul>
                <a href="#text">
                <img src="../assets/imgs/shatner.jpg">
              </a>
              <button><a href="/#cart">BUY</a></button>
              </div>
              <div ng-click="modalFunc()">
                <ul class="hide">
                <li class="desc">Artist Name</li>
                <li class="desc">Title</li>
                <li class="desc">Artist Name</li>
              </ul>
                <a href="#text">
                <img src="../assets/imgs/pullmyfinger.jpg">
              </a>
              <button><a href="/#cart">BUY</a></button>
            </div>--->







    <section class="modal" ng-show="showMenu">
      <div>
        <h1>{{albums.artist}} - {{albums.title}}</h1>
        <ul class="tracks">
          <span><img src="../assets/imgs/astley.jpg"></span>
          <li>Runtime:</li>
          <li>Released:</li>
          <li>Price:</li>
          <li>Album:</li>
        </ul>
        <form style="display: inline" action="/#cart" method="get">
        <button ng-click="cartFunc()"><a class="addTo">ADD TO MY MIX</a></button>
      </form>
      </div>
    </div>

    </section>
  </div>
