/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

///END OF RESET

$headerColor: #d234f0;
$textColor: black;
$fontLogo: 'Permanent Marker', cursive;
$fontContent: 'Space Mono', monospace;
body{
  background-color: #fafafa;
}
.container{
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  height: 250px;
  background-color: $headerColor;
  width: 100%;
  .logo{
    font-family: $fontLogo;
    font-size: 3em;
    text-align: center;
    color: white;
    padding-top: 150px;
  }
}
.background{
  position: absolute;
  opacity: .5;
  margin-left: 150px;
  margin-top: 0px;
  z-index: -5;
}
.content {
  // position: absolute;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  z-index: 5;

  input{
    display: block;
    margin-left: 190px;
    width: 30%;
    margin-bottom: 5px;
    // border: 2px solid #666;
  }
  // justify-content: center;
  button{
    height: 2.1em;
    width: 25%;
    display: block;
    margin-left: 205px;
    // background-color: white;
    background-color: #666;
    border-style: none;
    box-shadow: none;
    border-radius: none;
    // margin-bottom: 2px;

    a{
      text-decoration: none;
      color: white;
      font-size: 1.25em;
    }

    .admin{
      border-top-right-radius: 20px;
    }
    .store{
      border-bottom-left-radius: 20px;
    }
  }
  :hover {
    background-color: lightgrey;
    a{
    color: #666;
  }
  }


}
