*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fafafa; }

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  width: 1120px; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.header {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  background-color: #d234f0; }
  .header h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 1.75em;
    color: white;
    text-align: center;
    padding-top: 20px; }

.items {
  width: 74.68354%;
  float: left;
  margin-right: 1.26582%;
  display: inline-block;
  margin-left: 18px;
  vertical-align: top;
  font-family: "Space Mono", monospace; }
  .items div {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
    width: 250px;
    height: 250px; }
    .items div img {
      position: absolute;
      height: 250px;
      width: 250px;
      opacity: .25;
      z-index: -999; }
    .items div a {
      height: 250px;
      width: 250px;
      z-index: 100; }
  .items :hover img {
    opacity: .75; }
  .items button {
    font-family: "Space Mono", monospace;
    font-size: 1em;
    margin-top: 200px;
    margin-left: 85px;
    width: 80px;
    height: 40px;
    border-style: none;
    background-color: #DECEE1;
    z-index: 99;
    border-radius: 7%; }

.sidebar {
  width: 17.72152%;
  float: left;
  margin-right: 1.26582%;
  display: inline-block;
  position: relative;
  height: 750px;
  background-color: #DECEE1;
  margin-left: 0; }
  .sidebar img {
    padding-left: 60px; }
    .sidebar img:hover {
      transform: rotateX(360deg);
      transition-duration: 1.2s; }

#top-ul {
  height: 750px;
  margin: 0 25px; }

.main {
  font-family: "Permanent Marker", cursive;
  font-size: 1.75em;
  letter-spacing: 2px; }
  .main:hover > ul {
    display: block; }
  .main a {
    text-decoration: none; }

.main:hover > ul {
  display: block; }

.sub {
  display: none; }
  .sub li {
    font-family: "Space Mono", monospace;
    font-size: .6em;
    padding-left: 15px; }

/*# sourceMappingURL=store.css.map */
